body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: "TT Lakes";
    width: 100vw;
}

.menu {
    max-width: 320px;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0 0 40px 0 rgb(68, 68, 68, 0.4);
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(Fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: "TT Lakes Bold";
    src: url(Fonts/TTLakes-Bold.woff);
}

.header-container__icon {
    height: 40px;
    width: 40px;
    background-color: white;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: white;
    transform: scale(1);
    transition: transform 300ms;
}

.icon:hover {
    transform: scale(1.15)
}

.header-container__menu-icon,
.menu-icon {
    background-image: url(pics/menu-icon.svg);
}

.header-container__logo,
.logo {
    background-image: url(pics/logo.svg);
}

.header-container__call-icon,
.call-icon {
    background-image: url(pics/call.svg)
}
    
.header-container__chat-icon,
.chat-icon {
    background-image: url(pics/chat.svg)
}

.header-container__profile-icon,
.profile-icon {
    background-image: url(pics/profile.svg)
}

.header-container__settings-icon,
.settings-icon {
    background-image: url(pics/settings-icon.svg)
}

.header-container__search-icon,
.search-icon {
    background-image: url(pics/search-icon.svg)
}

.menu-header__close-icon {
    background-image: url(pics/close.svg)
}

.menu-header__search-icon {
    background-image: url(pics/search.svg);

}

.article-container__button {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: 25px;
}

.stick {
    border-right: 4px solid #41F6D7;
    height: 40px;
    width: 0;
    float: left;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 24px;
}

h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    margin-left: 16px;
    display: inline-block;
    margin-top: 24px;
}

.header-container {
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9fff5;
    justify-content: space-around;
    background-color: white;
    width: 100vw;
}


.menu-header {
    min-height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-header__search-icon {
    margin-left: auto;
    margin-right: 20px;
}

.menu-header__close-icon {
    margin-left: 20px;
    transform: rotate(0deg);
    transition: transform;
    transition-duration: 300ms;
}

.menu-header__close-icon:hover {
    transform: rotate(-180deg) scale(1.15);
}


.menu-footer__icons {
    display: flex;
    margin: 20px;
    gap: 15px;
}

.menu-footer__mail {
    display: block;
    margin: 20px;
    font-size: 0.8em;
}

.menu-footer__phone {
    font-family: "TT Lakes Bold";
    display: block;
    margin: 20px;
    font-size: 1.2em;
}

.menu-footer__languages {
    display: flex;
    margin: 20px;
}

.menu-footer__button {
    text-transform: uppercase;
    background-color: white
}

.menu-footer__button:first-child {
    color: #7E7E82;
}


.header-container__logo {
    height: 52px;
    width: 98px;
}

.logo {
    height: 52px;
    width: 98px;
    background-color: white;
}

.header-container__divider {
    height: 32px;
    border: solid 1px #EAEAEA;
    width: 0;
    border-radius: 1px;
}

.menu-body__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.list__item {
    padding: 13px 16px;
    white-space: nowrap;
}

.list__item:first-child {
    border: 2px solid #B8FFEC;
    background-color: white;
    border-radius: 5px;
    margin-left: 16px;
}

.list__item:first-child button {
    background-color: white;
}

.menu-body__item {
    margin: 25px;
}

.menu-body__item:first-child button{
    color: #7E7E82;
}

.menu-body__item:first-child::before {
    content: "";
    height: 32px;
    border-right: 4px solid #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-5px);
}

.menu-body__button {
    background-color: white;
    font-weight: 700;
}


.menu-footer {
    margin-top: auto;
}

.list::before {
    position: absolute;
    width: 20px;
    height: 50px;
    content: "";
    background-image: linear-gradient(to right,  #F8F8F8, transparent);
}

.list::after {
    position: absolute;
    right: 0;
    width: 20px;
    height: 50px;
    content: "";
    background-image: linear-gradient(to right, transparent, #F8F8F8)
}

.article-container__main-info {
    margin: 13px 25px;
    overflow: hidden;
    max-height: 145px;
}

button {
    font-family: "TT Lakes";
    font-weight: 700;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
}

button:hover {
    color: #7E7E82;
}


.article-container__kartinka { 
    margin-top: 16px;
    width: 100vw;
}

.divider-first,
.header-container__call-icon, 
.header-container__chat-icon,
.header-container__profile-icon {
    display: none;
}

.second-par {
    display: none;
}

.fake-header {
    display: none;
}


@media (min-width: 768px) {

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .article-container__kartinka {
        border-radius: 6px; 
            width: 90%;
        }

    .divider-first,
    .header-container__call-icon, 
    .header-container__chat-icon,
    .header-container__profile-icon {
        display: block;
    }

    .header-container {
        justify-content: start;
    }

    .header-container__icon {
        margin-right: 20px;
    }

    .header-container__logo {
        margin-right: auto;
    }

    .header-container__menu-icon {
        margin-left: 20px;
    }

    .article-container__main-info {
        max-width: 90%;
        max-height: 190px;
    }

    .list {
        margin-left: 0;
    }

    .list li:first-child {
        margin-left: 24px;
    }


}


@media (min-width: 1120px) {
    .header-container {
        display: none;
    }

    .article-container__kartinka {
        width: 90%;
    }

    h1 {
        display: inline-block;
    }

    .fake-header {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }


    .fake-header__button {
        display: flex;
        align-items: center;
        font-weight: 400;
        gap: 10px;
    }

    .list li:first-child {
        margin: 0;
    }

    .list {
        overflow: hidden;
        flex-wrap: wrap;
        margin-left: 32px;
    }

    .fullscreen-header {
        display: flex;
        justify-content: space-between;
    }

    .list::before,
    .list::after {
        display: none;
    }

}


