.page-footer {
    height: 200px;
    border-top: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $grey-text-color;
}

@media (min-width: 768px) {
    .page-footer {
        padding: 0 32px;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &__copyright {
            text-align: left;
        }

        &__public-info {
            text-align: right;
        }
    }
}