@import './common.scss';
@import './header-container.scss';
@import './icon.scss';
@import './fullscreen-header.scss';
@import './fake-header.scss';
@import './icon.scss';
@import './list.scss';
@import './menu.scss';
@import './readmore.scss';
@import './slider.scss';
@import './article-container.scss';
@import './modals.scss';
@import './commercial-offer.scss';
@import './footer.scss';


@media (min-width: 1120px) {

    .menu {
        position: inherit;
        transform: translate(0);
        box-shadow: none;
    }

    .main-wrapper {
        display: flex;
    }

}